<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.UserInfoMapper">
    <update id="update" parameterType="com.demo.entity.UserInfo">
        update user_info
        set money = money - #{money}
        where account = #{account}
          and money >= #{money}
    </update>
</mapper>
